
*, body {
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
	color: blue;
}

a:hover {
	color: orange;
}

noscript {
	display:block;
	border: 1px solid #ccc;
	margin: 0.5%;
	padding: 0.3em;
	background-color: #ff6464;
}


#headerMain {
	background-color: #1a1a1a;
	color: white;
	padding:0.5%;
	background-image: linear-gradient(#3c8a59 0%, #377d51 100%);
	font: 14px arial, sans-serif;
	min-height: 5%;
	margin-bottom: 1%;
}

#headerMain * {
	vertical-align: middle;
}

#headerMain h1 {
	display: inline;
	margin-left: 0.6em;
	margin-right: 0.6em;
}

#contentMain {
	margin-left: 0.5%;
	margin-right: 0.5%;
	padding:0.5%;
	border: 1px solid #bbb;
}


/*  sidebar list */
#sidebarLeft ul {
	list-style-type: none;
}

#sidebarLeft li {
	list-style-type: none;
	padding-left:1em;
}
