

ul.tablist {
	line-height: 2em;
	list-style-type: none;
	margin-bottom:1px;
}

.tablist li {
	list-style: none;
	display:inline;
	
	padding:0.5em;
	border: 1px solid #6f6f6f;
	
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.tablist li:hover {
	background-color:orange;
}

.tablist li a {
	color: black;
	display:inline-block;
}

.tablist li a:hover {
	color: black;
	
}

.tabcontent {
	border: 1px solid #6f6f6f;
}
