
GtkWindow {
    background-color: black;
}

.notebook {
    padding:5;
    margin:0;
    border-width:0;
}

.notebook tab {
    border-width:0;
    border-style:inset;
    margin:0;
    padding:1;
    font: Sans 9;
    background-color: black;
}

.notebook tab:active {
    background-color: blue;
}

.notebook tab:hover {
    background-color: blue;
}


/* Theme labels within notebook tabs */
.notebook tab GtkLabel {
    border-width:0;
    color: white;
    margin:0;
    padding:0;
}


