/* */

input[type="text"] {
    border: 1px solid gray;
}

.inputBox {
    display:block;
}

.symbolLabel {
    border: 1px solid #eee;
    height: 300px;
    width: 200px; 
    margin: 10px;
    text-align:center;
    font-size: 5em;
    
    /* Vertical Align CSS3 Firefox */
    display:-moz-box;
    -moz-box-orient:horizontal;
    -moz-box-pack:center;
    -moz-box-align:center;
    /* need other hacks too*/
}

.optionEntry {
    
}


#divOptions {
    margin:10px;
}
